@model CiZoochilpan.Areas.Medicina.Models.VeterinarioViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Create</h2>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h3 class="opcion_iluminada">Registrar Veterinario</h3></center></div>
                <div class="panel-body">
                    <a href="@Url.Action("Index", "Veterinario" )" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </a>
                    <br />
                    <br />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.apellidoPaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.apellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.apellidoPaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.apellidoMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.apellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.apellidoMaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    Masculino :  @Html.RadioButton("sexo", "M")
                                    Femenino  :  @Html.RadioButton("sexo", "F")
                                    @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            function Confirmacion() {
                var flag = confirm('Estas seguro de borrar este registro=');
                if (flag) {
                    return true;
                } else {
                    return false;
                }
            }
            /*
            $.ajax({
                url: 'http://localhost:49770/api/Veterinario',
                type: 'POST',
                dataType: 'json',
                data: { apellidoMaterno: 'Sevilla', apellidoPaterno: 'SFDK', id: 0, nombre: 'Zatu', sexo: 'M' },
                success: function (response) {
                    console.log(response);
                }
            }); */

            $.ajax({
                url: 'http://localhost:49770/api/HojaFarmaco',
                type: 'POST',
                dataType: 'json',
                data: { dosis: '3 ml', fechaAplicacion: '2017-05-30', frecuencia: 'cada 3 hr', idClinica: 30, idFarmaco: 4 },
                success: function (response) {
                    console.log(response);
                }
            });

           /* const option = {
                method: 'POST',
                mode: 'no-cors',
                body: JSON.stringify({ apellidoMaterno: 'Sevilla', apellidoPaterno: 'SFDK', id: 0, nombre: 'Zatu',  sexo: 'M' }),
                credentials: 'include',
                headers:new Headers({
                    'Content-Type': 'application/json'
                })

            };
            
            fetch('http://localhost:49770/api/Veterinario', option)
                .then((response) => {
                    return response.json();
                })
                .then((jsonObject) => {
                    console.log(jsonObject)
                    document.write(`ID ${jsonObject.id} was created!`);
                })
                .catch((error) => {
                    document.write(error);
                });
                */    
            
        </script>
    }
