@model CiZoochilpan.Areas.Animales.Models.Especie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Especie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idFamilia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idFamilia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idFamilia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //sirve para archivos y hacer peticiones HTTP 
        var request = new XMLHttpRequest();
        //abrimos una nueva conexión e indicamos el tipo de petición Get y la url 
        request.open('GET', 'https://ghibliapi.herokuapp.com/films', true);
        //accedemos al la información de respuesta desde la función onload
        request.onload = function () {
            // la variable datos contiene la respuesta de la api y es convertida a un arreglo de objetos
            var datos = JSON.parse(this.response);
            //Un estatus exitosa debe estar en el rango de 200 a 400, 404 not found
            if (request.status >= 200 && request.status < 400) {
                datos.forEach(movie => {
                    console.log(movie.title, movie.director)
                });
            } else {
                console.log('error');
            }
        }
        // envió de petición
        request.send();

    </script>
}
