@model CiZoochilpan.Areas.Animales.Models.Animal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> lstClases = new List<SelectListItem>();
    lstClases.Add(new SelectListItem { Text = "Anfibios", Value = "Anfibios" });
    lstClases.Add(new SelectListItem { Text = "Aves", Value = "Anfibios" });
    lstClases.Add(new SelectListItem { Text = "Mamiferos", Value = "Mamiferos" });
    lstClases.Add(new SelectListItem { Text = "Peces", Value = "Peces" });
    lstClases.Add(new SelectListItem { Text = "Reptiles", Value = "Reptiles" });

    List<SelectListItem> lstOrden = new List<SelectListItem>();
    lstOrden.Add(new SelectListItem { Text = "--Seleccione clase--", Value = "", Selected = true });

    List<SelectListItem> lstHabitat = new List<SelectListItem>();
    lstHabitat.Add(new SelectListItem { Text = "Altiplano", Value = "Altiplano" });
    lstHabitat.Add(new SelectListItem { Text = "Arrecife de coral", Value = "Arrecife de coral" });
    lstHabitat.Add(new SelectListItem { Text = "Bosque", Value = "Bosque" });
    lstHabitat.Add(new SelectListItem { Text = "Desierto", Value = "Desierto" });
    lstHabitat.Add(new SelectListItem { Text = "Lago", Value = "Lago" });
    lstHabitat.Add(new SelectListItem { Text = "Marisma", Value = "Marisma" });
    lstHabitat.Add(new SelectListItem { Text = "Montaña", Value = "Montaña" });
    lstHabitat.Add(new SelectListItem { Text = "Océano", Value = "Océano" });
    lstHabitat.Add(new SelectListItem { Text = "Pantano", Value = "Pantano" });
    lstHabitat.Add(new SelectListItem { Text = "Pastizales", Value = "Pastizales" });
    lstHabitat.Add(new SelectListItem { Text = "Playa", Value = "Playa" });
    lstHabitat.Add(new SelectListItem { Text = "Pradera", Value = "Pradera" });
    lstHabitat.Add(new SelectListItem { Text = "Quebrada", Value = "Quebrada" });
    lstHabitat.Add(new SelectListItem { Text = "Región polar", Value = "Región polar" });
    lstHabitat.Add(new SelectListItem { Text = "Sabana", Value = "Sabana" });
    lstHabitat.Add(new SelectListItem { Text = "Selva", Value = "Selva" });


}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombreCientifico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreCientifico, new { htmlAttributes = new { @class = "form-control", @placeholder = "Panthera Leo" } })
                @Html.ValidationMessageFor(model => model.nombreCientifico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreComun, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreComun, new { htmlAttributes = new { @class = "form-control" , @placeholder ="León"} })
                @Html.ValidationMessageFor(model => model.nombreComun, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clase, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.clase, lstClases, "---Selecciona clase---", new { @class = "form-control", @id="claseDropDown", @name="claseDropDown" })
                <!-- @Html.EditorFor(model => model.clase, new { htmlAttributes = new { @class = "form-control" } }) -->
                @Html.ValidationMessageFor(model => model.clase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.orden,lstOrden, new { @class = "form-control", @id="ordenDropDown", @name="ordenDropDown" })
                @Html.ValidationMessageFor(model => model.orden, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.idFamilia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idFamilia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idFamilia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEspecie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idEspecie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idEspecie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.habitat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.habitat, lstHabitat, "---Selecciona Habitat---", new { @class = "form-control", @id = "habitatDropDown", @name = "habitatDropDown" })
                @Html.ValidationMessageFor(model => model.habitat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gestacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gestacion, new { htmlAttributes = new { @class = "form-control", @placeholder=" 8 meses" } })
                @Html.ValidationMessageFor(model => model.gestacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.camada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.camada, new { htmlAttributes = new { @class = "form-control", @placeholder="1-4 crias" } })
                @Html.ValidationMessageFor(model => model.camada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longevidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longevidad, new { htmlAttributes = new { @class = "form-control", @placeholder="20 - 30 años" } })
                @Html.ValidationMessageFor(model => model.longevidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control", @placeholder="10- 15 Kg" } })
                @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ubicacionGeografica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ubicacionGeografica, new { htmlAttributes = new { @class = "form-control", @placeholder="Sureste de America" } })
                @Html.ValidationMessageFor(model => model.ubicacionGeografica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.alimentacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.alimentacion, new { htmlAttributes = new { @class = "form-control", @placeholder="Pequeños mamiferos " } })
                @Html.ValidationMessageFor(model => model.alimentacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="input-group-btn">
                    <button type="submit"  class="btn btn-success" >
                    <span class="glyphicon glyphicon-plus" >            
                    </span> 
                    </button>
                </span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var orden_1=Array("Seleccione orden","Anura","Caudata","Gymnophiona","Mugiliformes");
        //4 ordenes
            
        var orden_2=new Array("Seleccione orden","Accipitriformes","Anseriformes","Apodiformes","Bucerotiformes","Charadriiformes","Ciconiiformes",
                "Coliiformes","Columbiformes","Coraciiformes", "Craciformes","Cuculiformes"," Falconiformes","Galbuliformes","Galliformes","Gaviiformes",
                "Gruiformes"," Musophagiformes","Passeriformes","Pelecaniformes","Phaethontiformes", "Phoenicopteriformes","Piciformes","Podicipediformes",
                "Procellariiformes","Psittaciformes","Pteroclidiformes","Sphenisciformes","Strigiformes", "Struthioniformes"," Suliformes","Tinamiformes",
                "Trogoniformes","Upupiformes")

        //33 ordenes

        var orden_3=new Array("Seleccione orden","Artiodáctilos","Carnívoros","Cetáceos","Dermapteros","Desdentados","Diprotodontos","Escandentios",
                "Folidotos","Hiracoideos","Insectívoros","Lagomorfos","Macroscelídos","Marsupiales","Monotremas","Perisodáctilos",
                "Pinnípedos","Primates","Proboscídeos","Quirópteros ","Roedores","Sirénidos","Tubulidentados","Xenarthra")
        //22 ordenes

        var orden_4=new Array("Seleccione orden","Bericiformes","Escorpeniformes","Lofiformes","Mugiliformes","Tetraodontiformes","Zeiformes")
        //6 ordenes
        var orden_5=new Array("Seleccione orden","Crocodylia","Rhynchocephalia","Squamata","Testudines")
        //4 ordenes

        //69 ordenes en total

        $(document).ready(function (){

         //   $("#familia").append('<option value="' + $(gestacn).val()+ '">' + $(gestacn).val()+ '</option>');
            var  indice,numOrdenes,indiceFam,idOrden
            var famiNombres = new Array();
            
            $("select[id=claseDropDown]").change(function () {
                $('#ordenDropDown').empty().append('elige una opcion');

                indice=$('select[id=claseDropDown]').prop('selectedIndex');
                indice = parseInt(indice);
                misordenes=eval("orden_" + indice)
                num = misordenes.length
                alert("indice"+indice)
                if(indice >=1) {

                    for (a = 0; a < num; a++)
                        $('<option value="' + eval("orden_" + indice)[a] + '">' + eval("orden_" + indice)[a] + '</option>').appendTo("#ordenDropDown");

                }

                 if(indice<=0){
                    alert("se metio");
                    $("<option value='5'>Selecciona clase</option>").appendTo("#ordenDropDown");

               } 


            });
            //evento de cambio de orden

            $("select[name=orden]").change(function () {
               var div=$(this).val();
                $('#familia').empty().append('elige una opcion');

                if(indice==1)
                    numOrdenes=0;
                else if(indice==2)
                    numOrdenes=4;
                else if(indice==3)
                    numOrdenes=37;
                else if(indice==4)
                    numOrdenes=60;
                else
                    numOrdenes=66;

                indiceFam=$('select[name=orden]').prop('selectedIndex');
                indiceFam=parseInt(indiceFam);

                var idOrden=numOrdenes+indiceFam;
                var  op= "";

                  



            });

            


        });

    </script>
}
