<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zoochilpan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">&nbsp;&nbsp;&nbsp;&nbsp; Control Animal <span class="caret" ></span></a> 
                                         <ul class="dropdown-menu" role="menu">
                                             <li> Fauna</li>
                                             <li>@Html.ActionLink("Animales", "Create", "Animal", new { Area = "Animales" }, new { }) </li>
                                             <li>@Html.ActionLink("Ejemplares", "Index", "Ejemplar") </li>
                                             <li>Taxonomia </li>
                                             <li>@Html.ActionLink("Familias", "Create", "Familia" , new { Area="Animales"}, new {}) </li>
                                             <li>@Html.ActionLink("Especies", "Create", "Especie", new { Area= "Animales"}, new {}) </li>
                                         </ul>
                    </li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">&nbsp;&nbsp;&nbsp;&nbsp; Control Alimenticio<span class="caret"></span> </a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li>@Html.ActionLink("Dietas Animales","Index", "DietaAnimal" )</li>
                                             <li>@Html.ActionLink("Dietas Ejemplares", "Index", "DietaEjemplar")</li>
                                         </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">&nbsp;&nbsp;&nbsp;&nbsp; Seguimiento De Salud<span class="caret"></span> </a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li>@Html.ActionLink("Medicina Preventiva", "Index", "Profilaxis")</li>
                                             <li>@Html.ActionLink("Consulta Clinicas", "Index", "Consulta")</li>
                                             <li>@Html.ActionLink("Farmacos", "Index", "Farmaco")</li>
                                             <li>@Html.ActionLink("Veterinarios", "Index", "Veterinario", new {Area ="Medicina"}, new {})</li>
                                         </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">&nbsp;&nbsp;&nbsp;&nbsp; Mortalidad<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Necropsias","Index", "Necropsia")</li>
                            <li>@Html.ActionLink("Siniestros","Index","Siniestro")</li>
                        </ul>
                    </li>

                    <li class=""
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
